.container {
    width: 98%;
    height: 700px;
    display: flex;
    gap: 2%;
    flex-direction: column;
    margin: 1%;
}
.num1 {
    width: 100%;
    height: 30%;
    background-color: aquamarine;
}
.num2 {
    display: flex;
    gap: 2%;
    width: 100%;
    height: 35%;
}
.cum1 {
    width: 25%;
    background-color: brown;
}
.cum2 {
    width: 25%;
    background-color: rgb(215, 122, 16);
}
.cum3 {
    width: 25%;
    background-color: rgb(215, 122, 16);
}
.cum4 {
    width: 25%;
    background-color: rgb(215, 122, 16);
}
.num3 {
    display: flex;
    gap: 2%;
    width: 100%;
    height: 35%
}
.tum1 {
    width: 50%;
    background-color: blueviolet;
}   
.tum2 {
    width: 50%;
    background-color: rgb(67, 43, 226);
}
.num4 {
    width: 100%;
    height: 20%;
    background-color: aquamarine;
}
@media screen and (max-width: 1024px) {
    .num2 {
        flex-wrap: wrap;
    }
    .cum1, .cum2, .cum3, .cum4 {
        width: 48%; 
        height: 100%;
    }

    .tum1, .tum2 {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .num3{
        display: none;
    }
    .num2 {
        flex-direction: column;
        gap: 2%;
        width: 100%;
    }

    .cum1 {
        width: 100%;
        height: 24%;
    }
    .cum2{
        width: 100%;
        height: 24%;
    }
    .cum3{
        width: 100%;
        height: 20%;
    }
    .cum4{
        width: 100%;
        height: 24%;
    }
}